@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Baloo+2:400,500,700&display=swap");
@import "_vars.scss";

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: $primary;
    color: #ffffff;
    font-family: "Baloo 2", cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

// Text style
.text-blue {
    color: #66c4f3;
}
.text-purple {
    color: #6750e9;
}
.text-red {
    color: #e84848;
}
.text-green {
    color: #4dbc74;
}

.text-bold {
    font-weight: 700;
}

.text-med {
    font-weight: 500;
}

// Card style
.card-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: $secondary;

    &--lar-text {
        font-size: 52px;
        font-weight: 700;
        line-height: 1.4;
    }

    &--med-text {
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
    }
}
